<div class="container-fluid" style="background-color:black; padding:3%; border-color:white;border-width:0.1em;">
    <div style="border-color:white;border-width:0.1rem; border-style:solid; display:flex; flex-direction:column; padding:2%; justify-content:space-between;">
        <div style="display: flex; justify-content:space-between;">
            <div style="display:flex; flex-direction: column; align-items: center;">
                <img src="../../assets/history/circle.svg" style="width: 90%; padding: 5%;"/>
                <p class="normal_text" style="font-size: 2.5em; padding-top: 8%;">User Name</p>
            </div>
            <div style="display:grid; grid-template-columns: auto auto; width: 50%; ">
                <p class="normal_text" style="font-size: 2em; padding: 3%; margin: 0%; white-space:nowrap;">Quiz Type : </p>
                <button class="normal_text" style="font-size: 2em; height:1.5em; background-color:transparent; border-color: white; border-width: 0.01em; align-self: center; justify-self:center; padding: 10%;">Random</button>
                <p class="normal_text" style="font-size: 2em; padding: 3%; margin: 0%; white-space:nowrap;">Sorting : </p>
                <button class="normal_text" style="font-size: 2em; height:1.5em; background-color:transparent; border-color: white; border-width: 0.01em;  align-self: center; justify-self:center; padding: 10%;">&nbsp;Recent&nbsp;</button>
                <p class="normal_text" style="font-size: 2em; padding: 3%; margin: 0%; white-space:nowrap;">Range : </p>
                <button class="normal_text" style="font-size: 2em; height:1.5em; background-color:transparent; border-color: white; border-width: 0.01em; align-self: center; justify-self:center; padding: 10%;">&nbsp;7 Days&nbsp;</button>
            </div>
        </div>
        <p class="normal_text" style="font-size: 4em; margin-inline: auto; padding-top: 10%; padding-bottom: 1%;">History</p>
        <div class="link-top"></div>

        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;  justify-items: center; padding-block: 2%;">
            <p class="normal_text" style="font-size: 2em;">Date</p>
            <p class="normal_text" style="font-size: 2em;">Quiz Type</p>
            <p class="normal_text" style="font-size: 2em;">Result</p>
        </div>

        <div *ngFor="let info of records" style="display: grid; grid-template-columns: 1fr 1fr 1fr;  justify-items: center; padding-block: 2%;">
            <p class="normal_text" style="font-size: 1.75em;">{{ info.date }}</p>
            <p class="normal_text" style="font-size: 1.75em;">{{ info.quiz_type }}</p>
            <p class="normal_text" style="font-size: 1.75em;">{{ info.pass }} / {{ info.result }}</p>
        </div>
        <button routerLink="/menu" class="normal_text" style="font-size: 2em; height:1.5em; background-color:transparent; border-color: white; border-width: 0.01em; align-self: center; margin-right: auto; margin-left: 3%; margin-top: 10%; padding:3%;">Home</button>
    </div>

</div>
  