.grid-container {
  display: grid;
  grid-template-columns: 25% 0.2% 74.8%;
  grid-template-rows: 10% 80% 9.9% 0.1%;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 0.15rem;
  border-color: white;
  margin: 2rem  1.5rem;
  max-height: 95vh;
}

.grid-left {
  padding-top: 10%;
  padding-bottom: 5%;
  grid-column: 1/2;
  text-align: center;
}

.grid-right {
  grid-column: 3/4;
  grid-row:1/3;
  text-align: center;
  overflow-y: scroll;


}

.grid_midline {
  grid-column: 2/3;
  grid-row:2/3;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
}

#user_img {
  border-radius: 50rem; 
  max-height:50%;
  max-width:50%
}

#user_name {
  font-size: 200%;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

.home_btn {
  height: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 60%;
  margin:4%;
  border: 1% white solid;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 100%;
}

#about_us {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
  text-align: left;
  margin: 0;
}

#about_us_h2 {
  margin-top: 5%;
  margin-bottom: 0;
  font-family: 'Poiret One', cursive;
  font-size: 5rem;
}

#about_us_hr {

  border-top: 3px solid #ffffff;
  opacity: 1;

}

#user_name{
  font-family: 'Poiret One', cursive;
}

#about_us_paragraph{
  text-align: middle;
  font-size: 1.45rem;
  
}

button:hover{
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
}