<div>
  <div>
    <div>
      <ng-container *ngIf="isCustom && !isCustomMenuFinished">
        <div>custom menu</div>
        <button (click)="customMenuDone()">start</button>
      </ng-container>

      <ng-container *ngIf="(!isCustom && !isStart) || (isCustom && isCustomMenuFinished && !isStart)">
        <button (click)="startQuiz()">ready</button>
      </ng-container>

      <ng-container *ngIf="!isQuizCompleted && isStart">
        <div class="grid-container">
          <div class="grid-left">
						<img id="photo" src={{this.ImgURL[currentQuestion]}} alt="user_img">
					</div>
					
          <div class="grid_midline"></div>
					
          <div class="top_btn">
						<button id="back" (click)="prevQuestion()" [disabled]="(currentQuestion === 0) 
            && (currentSubQuestion === 0)">Back</button>
						<button id="next" (click)="nextQuestion()" [disabled]="(currentQuestion === questionList.length -1) 
            && (currentSubQuestion === questionList[questionList.length - 1].length - 1)">Next</button>
						<button id="end_quiz" (click)="endQuiz()">End Quiz</button>
					</div>
					
          <div class="Q">{{questionList[currentQuestion][currentSubQuestion][0]}}
            QuestionQuestionQuestionQuestionQuestionQuestionQuestionQuestionQuestionQuestion
          </div>
					<div class="hint"> 
						<p id="hint">HintHintHintHintHintHintHintHintHintHintHintHintHintHintHint</p>
						<button id="hint_btn">Hint</button>
					</div>
					<div class="answer">
						<button id="present" (click)="answer('YES')">Present</button>
						<button id="absent" (click)="answer('NO')">Absent</button>
					</div>
					<div class="process">
						<p id="ratio">
              <var id="finished">{{currentQuestion + 1}}</var> 
              / 
              <var id="total">{{questionList.length}}</var>
            </p> 
					</div>	
				</div>
      </ng-container>
    
  
      <ng-container *ngIf="isQuizCompleted">
        <div class="row flex justify-center">
          <button routerLink="/welcome">
            go to menu
          </button>
          <div class="text-center col-md-6 col-sm-12">
            <h3 class="text-xl font-bold">Congratulations!!
              <br>You have completed the quiz<br> Below is your result:
            </h3>
            <p>Total Questions Attempted : {{questionList.length}} </p>
            <p>Total Correct Answered : {{correctAnswer}} </p>
            <p>Total Wrong Answered : {{incorrectAnswer}} </p>
            <p class="text-xl font-bold">Your Score : {{points}} Points </p>
          </div>
          <div class="options mt-2">
            <ol class="list-decimal ml-5" *ngFor="let answer of AnswerList">
              <li class="mt-2">
              </li>
              <div *ngFor="let item of answer | keyvalue">           
                {{item.key}} {{item.value}}
              </div>
            </ol>
          </div>
        </div>
      </ng-container>
  </div>
</div>
  