<div class="bar_container" [ngClass]="{'border': sideBarIsOpen}" [ngClass]="{'background': sideBarIsOpen}"
    [ngStyle]="sideBarIsOpen ? {'background-color': 'rgb(0, 0, 0)', 'border-right': '2px solid rgb(165, 164, 164)', 'overflow-y': 'scroll' } : {'height': '20%'}">

    <!-- icon -->
    <div style="width: 10%; position: sticky;" class="p-3" (click)="sideBarToggle()">
        <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    </div>

    <!-- Sidebar -->
    <div *ngIf="sideBarIsOpen" style="text-align: center;" class="d-flex flex-column justify-content-between">
        <div style="display: flex; justify-content: center; width: 100%">
            <a href="#" routerLink="/menu"><img src=" assets/pulmo_coach_logo.jpg" alt=""></a>
        </div>

        <a href="#" routerLink="/menu"
            class="nav-link d-flex align-items-center mx-auto text-white text-decoration-none">
            <p class="fs-2 nav-link my-0">PulmoCoach</p>
        </a>
        <hr class="my-2">
        <ul class="nav nav-pills flex-column mb-auto">

            <li>
                <a href="#" class="nav-link" routerLink="/menu" (click)="openPdf()">

                    <span class="fs-4">CXR Tutorial</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link " routerLink="/question" (click)="changeMode('Custom Quiz')">

                    <span class="fs-4">Custom Quiz</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" routerLink="/question" (click)="changeMode('Random Quiz')">

                    <span class="fs-4">Random Quiz</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link " disabled="disabled">

                    <span class="fs-4">Analytics</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link " routerLink="/history">

                    <span class="fs-4">History</span>
                </a>
            </li>
        </ul>

        <hr>

        <!-- Dropdown -->
        <div class="dropdown d-flex flex-column justify-content-between">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle m-auto"
                data-bs-toggle="dropdown" aria-expanded="false">
                <p style="font-size: large; text-align: center;">GDSC PulmoCoach Group</p>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                <li><a class="dropdown-item text-align: center;" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-align: center;" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>