#home_header{
  font-size: 2em;
  font-family: PoiretOne, cursive;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 3%;
}

@media (min-width: 500px) {
  #home_header{
    font-size: 5em;
    font-family: PoiretOne, cursive;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 3%;
  }
}

@media (min-width: 768px) {
  #home_header{
    font-size: 7em;
    font-family: PoiretOne, cursive;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 3%;
  }
}


@media (min-width: 1024px) {
  #home_header{
    font-size: 8em;
    font-family: PoiretOne, cursive;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 3%;
  }
}

#log_in_top{
  margin-left: 41%; 
  margin-top: 5%;
}

#log_in{
  display: flex;
}