
h1{
  font-size: 8em;
  font-family: 'Edu NSW ACT Foundation', cursive;
  text-align: center;
}

#home_header{
  margin-top: 15%;
  margin-bottom: 3%;
}

#google{
  text-align: center;
}

#log_in{
  font-size: 1.5em;
  background-color: steelblue;
  border-radius: 1em;
  padding-left: 5.5% ;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5.5%;
  /* margin-left: 50%;
  margin-right: 50%; */
  text-align: center;
}

#log_in:hover{
  background-color: rgb(111, 180, 236);
}

// #bg{
//   background-image:'/src/image/pulmo_coach_logo.jpg';
//   // background-size: 50%;

// }