#hint_paragraph {
    // text-align: middle;
    width:80%;
    white-space: pre-wrap;
    margin-inline: auto;
    margin: auto;
}

#page_title {
    font-family: PoiretOne, cursive;
}

#page_hr {
    border-top: 2px solid #ffffff;
    opacity: 1;
}